body{
  background-image: linear-gradient(to right, rgb(37, 112, 131), rgb(37, 37, 78));
    width: 100%;
    height: 100vh;
    padding: 0;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 10px;
    height:400px;
    box-sizing: border-box;
    
    background-image: linear-gradient(to right,rgb(53, 52, 52),rgb(29, 27, 27));
}
.display{
 
 background-color: rgb(150, 167, 113);
 height: 15%;
border-radius: 10px;
 margin: 10px 10px;

}
.displaycontiner{
  background-color: gainsboro;
  width: 100%;
  height: 100%;
}
.button{
  height: 80%;
  box-sizing: border-box;
 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  
}
.continer{
 
 width: 75%;
 height: 80%;
 display: flex;
 flex-direction: column;
}
.continer2{

  width: 25%;
  height: 80%;
  display: flex;
  flex-direction: column;
 
  
  
}.continer3{
  
  height:20%;
 
  
  display: flex;
  flex-direction: row-reverse;
  flex-basis: 100%;
  margin: 0;
  


}
.row{
 display: flex;

 height: 25%;
}
.row2{
  display: flex;
  
  height: 25%;

}
.row3{
  display: flex;
  
  height: 25%;

}
.row4{
  display: flex;
 
  height: 25%;

}


.continer button{

  flex-grow: 1;

}


.continer2 :nth-child(1),
.continer2 :nth-child(2){
  height: 25%;
}
.buttonplus{
  height: 50%;
}
.continer3 :nth-child(2) ,
.continer3 :nth-child(3){
  width: 25%;
  
}
.buttoneq{
  width: 50%;
}
button{
  margin: 2px;
  border-radius: 10px;

  background-color: rgb(32, 7, 7);
  color: white;
}
